.container-dog {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.container-body-dog {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.container-body-dog h1 {
  font-size: 25px;
  font-weight: 400;
}

.form-dog {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-dog button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: red;
  color: white;
}
