.container-home {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.container-header {
  display: flex;
  flex-direction: column-reverse;
}

.container-header h1 {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-weight: 500;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-header-body {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.container-list {
  width: 80%;
}

.container-search-user {
  margin-top: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
