.container-cat {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.container-body-cat {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.container-body-cat h1 {
  font-size: 25px;
  font-weight: 400;
}

.form-cat {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-cat input {
  width: 100px;
  border: none;
  border-radius: 10px;
  text-indent: 10px;
  filter: drop-shadow(4px 4px 4px rgb(182, 172, 172));
}

.form-cat input:focus {
  outline: none;
}

.form-cat button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: red;
  color: white;
}
