.container-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pagination {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-top: 20px;
}

#number-pagination {
  text-decoration: none;
  color: black;
  width: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  box-shadow: 1px 1px 1px 1px #000;
}
